/HSBC.Deposits.Personnel.Vehicle/HSBC.Deposits.Personnel.Vehicle/bin
/HSBC.Deposits.Personnel.Vehicle/HSBC.Deposits.Personnel.Vehicle/obj
/HSBC.Deposits.Personnel.Vehicle/HSBC.Deposits.Personnel.Vehicle/Properties
/HSBC.Deposits.Personnel.Vehicle/HSBC.Deposits.Personnel.Vehicle/appsettings.Development.json
*.suo

